/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');/* Kalam */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');/* poppins */


header{
    padding: 0px ;
}


.title{
    font-size: 42px;
    color: #29ABB7 ;
    font-family: 'Kalam', cursive;
}

.description{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

